<template>
  <div>
      <!-- <h2>Search and add a pin</h2> -->
      <label>
        <gmap-autocomplete
          class='btn-color'
          @place_changed="setPlace">
        </gmap-autocomplete>
        <v-btn class='ml-1 mb-1' depressed small color="success" @click="addMarker()">Add Marker</v-btn>
      </label>
      <br/>
    <gmap-map
      :center="center"
      :zoom="zoom"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  props:{
      lat:{
          type: String,
          default: null
      },
      lng:{
          type: String,
          default: null
      }
  },
  data() {
    return {
        //mặc định là Montreal
      // center: { lat: this.lat, lng: this.lng },
      center: { lat: 0, lng: 0 },
      markers: [],
      places: [],
      currentPlace: null,
      zoom: 14
    };
  },

  mounted() {
    setTimeout(this.geolocate(),2000);
  },

  methods: {
    // nhận địa điểm thông qua autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.zoom = 15
        this.currentPlace = null;
      }
    },
    geolocate: function() {
        navigator.geolocation.getCurrentPosition(position => {
          if(this.currentPlace == null){
            this.center = {
              lat: this.lat ? parseInt(this.lat) : position.coords.latitude,
              lng: this.lng ? parseInt(this.lng) : position.coords.longitude
            }
          }else{
            this.center = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
          }
          this.markers.push({ position: this.center });
        });
    }
  }
};
</script>
<style scope>
  .btn-color{
    height: 30px;
    border-radius: 5px;
    border: 1px solid black !important;
    margin-left: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>