<template id="app">
  <div id="app">
    <v-app id="inspire">
      <v-card
        class="mx-auto"
        width='100%'
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >
          <div class='d-flex justify-space-between align-center'>
            <v-card-title>WEBSITE: {{data.website}}</v-card-title>
            <v-btn color="success" @click="showModal">Show Title</v-btn>
          </div>
        </v-img>
        <v-parallax
          height="800px"
          :speed-factor="0.3" breakpoint="(min-width: 80px)"
          dark
          src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
        >
          <v-col>
            <v-row>
              <v-col cols="6">
                  <v-text-field
                    v-model="name"
                    label="Name"
                  ></v-text-field>
              </v-col>
              <v-col cols="6">
                  <v-text-field
                    v-model="email"
                    label="E-mail"
                  ></v-text-field>
              </v-col>
              <v-col cols="6">
                  <v-text-field
                    v-model="phone"
                    label="Phone"
                  ></v-text-field>
              </v-col>
              <v-col cols="6">
                  <v-text-field
                    v-model="address"
                    label="Address"
                  ></v-text-field>
              </v-col>
            </v-row>
            <v-col cols="12">
              <GoogleMap 
                :lng="lng"
                :lat="lat"
              />
            </v-col>
          </v-col>
        </v-parallax>
        <v-card-actions>
          <v-btn
            color="orange"
            text
            @click="goback"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
      <MessagePost 
        :showChild="showParent"
        :dataParent="data"
        @hideModal="hideModal"
      />
    </v-app>
  </div>
</template>
<script>
  import RepositoryFactory from '../services/RepositoryFactory.js'
  import GoogleMap from './contactMap'
  import MessagePost from './MessagePost'
  const UserRepository = RepositoryFactory.get('users');
  export default {
    name: 'TitleBar',
    components:{
      GoogleMap,
      MessagePost
    },
    props:{
        showInfo: {
            type: String,
        }
    },
    created(){
      this.fetch()
    },
    methods:{
        showModal(){
          this.showParent = true
        },
        hideModal(){
          this.showParent = false
        },
        async fetch() {
          let id = this.$route.query.id
          const detail = await UserRepository.getDetailUser(id)
          this.data = detail.data
          this.lat = this.data.address.geo.lat
          this.lng = this.data.address.geo.lng
          this.name = this.data ? this.data.name : ''
          this.phone = this.data ? this.data.phone : ''
          this.email = this.data ? this.data.email : ''
          this.address = this.data ? (this.data.address.street + this.data.address.suite + this.data.address.city) : ''
        },
        callMenu(){
            this.dialog = true
        },
        goback(){
          this.$router.go(-1)
        }
    },
    data () {
      return {
        // name: this.data  ? this.data.name : '',
        lat: '',
        lng: '',
        data: {},
        dialog: false,
        name: '',
        phone: '',
        email: '',
        address: '',
        showParent: false
      }
    },
  }
</script>