<template id="app">
  <v-app id="inspire">
    <v-row justify="center">
      <v-btn
        color="primary"
        dark
        @click="callMenu"
      >
        Open Dialog
      </v-btn>
  
      <v-dialog
        v-model="dialog"
        max-width="290"
      >
        <v-card>
          <v-card-title class="headline">Use Google's location service?</v-card-title>
  
          <v-card-text>
              {{showInfo}}
          </v-card-text>
  
          <v-card-actions>
            <v-spacer></v-spacer>
  
            <v-btn
              color="green darken-1"
              text
              @click="dialog = false"
            >
              Disagree
            </v-btn>
  
            <v-btn
              color="green darken-1"
              text
              @click="dialog = false"
            >
              Agree
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-app>
</template>
<script>
  export default {
    name: 'TitleBar',
    props:{
        showInfo: {
            type: String,
        }
    },
    methods:{
        callMenu(){
            this.dialog = true
        }
    },
    data () {
      return {
        dialog: false
      }
    },
  }
</script>