<script>
  import { Doughnut } from 'vue-chartjs'
  import 'chart.piecelabel.js';
  export default {
    extends: Doughnut,
    mounted () {
      // Overwriting base render method with actual data.
      this.renderChart({
        labels: ['January', 'February', 'March', 'April'],
        datasets: [
          {
            backgroundColor: ['#f87979', 'blue', 'green', 'yellow'],
            data: [40, 20, 12, 39],
          }
        ]
      },
      {
        responsive: true, 
        maintainAspectRatio: false,
        pieceLabel: {
          mode: 'percentage',
          precision: 1,
          fontColor: 'black',
          fontSize: 11
        }
      })
    }
  }
</script>
<style scope>
</style>