<template id="app">
    <v-col cols="8">
        <v-app id="inspire">
            <v-form
                ref="form"
                v-model="valid"
                :lazy-validation="lazy"
            >
                <v-text-field
                v-model="name"
                :counter="10"
                :rules="nameRules"
                label="Name"
                ></v-text-field>
        
                <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                ></v-text-field>
        
                <v-select
                v-model="select"
                :items="items"
                :rules="[v => !!v || 'Item is required']"
                label="Item"
                ></v-select>
        
                <v-checkbox
                v-model="checkbox"
                :rules="[v => !!v || 'You must agree to continue!']"
                label="Do you agree?"
                ></v-checkbox>
        
                <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="validate"
                >
                Validate
                </v-btn>

                <v-btn
                color="primary"
                class="mr-4"
                @click="submit"
                >
                Submit
                </v-btn>
        
                <v-btn
                color="error"
                class="mr-4"
                @click="reset"
                >
                Reset Form
                </v-btn>
        
                <v-btn
                color="warning"
                @click="resetValidation"
                >
                Reset Validation
                </v-btn>
            </v-form>
        </v-app>
    </v-col>
</template>

<script>
  export default {
    name: 'Expand',
    data: () => ({
    valid: true,
    name: '',
    nameRules: [
        
      v => !!v || 'Name is required !!!!!!' ,
      v => (v && v.length <= 10) || 'Name must be less than 10 characters',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required !!!!!!!!',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    select: null,
    items: [
      'Item 1',
      'Item 2',
      'Item 3',
      'Item 4',
    ],
    checkbox: false,
    lazy: false,
  }),
  methods: {
    submit () {
        this.$refs.form.validate()
    },
    validate () {
      this.$refs.form.validate()
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },
  },
  }
</script>   