<template>
  <div>
    ccccccccccccccccccc
  </div>
</template>
<script>
export default {
  name:"facebookLogin",
  created(){

  },
  methods: {
    async logOutWithFacebook(){
      console.log(window.FB)
      window.FB.logout(function(response) {
        console.log(response)
      });
    },
    async logInWithFacebook() {
      await this.loadFacebookSDK(document, 'script', 'facebook-jssdk');
      await this.initFacebook();
      return false;
    },
    initFacebook() {
      window.fbAsyncInit = function() {
        window.FB.init({
          appId      : '904848930011624',
          xfbml      : true,
          version    : 'v3.1',
          cookie     : true
        });
        window.FB.login(function(response) {
          if (response.status === 'connected') {
              // Logged into your webpage and Facebook.
          } else {
            // The person is not logged into your webpage or we are unable to tell. 
          }
        });
        window.FB.AppEvents.logPageView();
      };
    },
    loadFacebookSDK(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];

      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }
};
</script>
<style>
.button{
  color:white;
  min-width: 150px;
  background-color: #000000a1;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 0.8rem;
}

</style>