<template>
  <v-row>
    <v-col cols="6">
      <GChart
        type="PieChart"
        :data="barChart"
        :options="chartOptions"
      />
    </v-col>
    <v-col cols="6">
      <GChart
        type="ColumnChart"
        :data="chartData"
        :options="chartOptions"
      />
    </v-col>
    <v-col cols="6">
      <GChart
        type="BubbleChart"
        :data="chartData"
        :options="chartOptions"
        dark
    />
    </v-col>
    <v-col cols="6">
      <div class="small">
        <DonutChart 
          :styles="myStyles"
        />
      </div>
    </v-col>
    <v-col cols="12">
      <GChart
        type="BarChart"
        :data="chartData"
        :options="chartOptions"
        dark
      />
    </v-col>
  </v-row>
</template>
<script>
  import { GChart } from 'vue-google-charts'
  import {ChartData, BarChart} from '../mockup/listMusic'
  import DonutChart from './DonutChart'
  // import DoughnutChart from 'vue-doughnut-chart'
  export default {
    components:{
      GChart,
      DonutChart
    },
    async created(){
      this.setValue()
    },
    methods:{
      setValue(){
        this.barChart = BarChart
        this.chartData = [...this.titleChar,...ChartData]
      }
    },
    data () {
      return {
        barChart: [],
        myStyles: {
          height: '300px',
          width: '100%',
          position: 'relative',
        },
        titleChar: [['Year', 'Sales', 'Expenses', 'Profit']],
        // Array will be automatically processed with visualization.arrayToDataTable function
        chartData: [],
        chartOptions: {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          },
          height:400,
          fontSize:11,
          fontName: 'TimesNewRoman',
          bold: true
        }
      }
    }
  }
</script>
<style scope>
  .small{
    height: 300px;
  }
</style>