<template >
  <v-app id="inspire">
    <v-content :class="{'open-menu' : widthMenu == 56, 'closed-menu': widthMenu == 256}">
      <MenuBar 
        @getWidthMenu='getMenuBar'
      />
      <v-container 
        fluid
        class="pa-0"
      >
        <router-view
          :key="$route.fullPath"
        />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import MenuBar from './MenuBar'
  import axios from 'axios';
  export default {
    name: 'HelloWorld',
    components:{
      MenuBar
    },
    created(){
      this.setValueStore()
    },
    methods:{
      getNameFB(uerid, token){
        axios.get(`https://graph.facebook.com/${uerid}?fields=id,name&access_token=${token}`)
        .then(response => {
          if (response.status == 200) {
              this.$store.dispatch('setInfoLogin',  response.data.name)
          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      async setValueStore(){
        let token = localStorage.getItem('token')
        let userId = localStorage.getItem('userId')
        if(typeof token !== 'undefined' && localStorage.getItem('Info') == null){
          this.getNameFB(userId, token)
        }
        setTimeout(()=>{
          let user = JSON.parse(localStorage.getItem('Info'))
          this.$store.dispatch('setInfoLogin', user.username)
        },1000)
      },
      getMenuBar(data){
        this.widthMenu = data
      },
      showMessage(title){
        alert(title)
      },
      callMenu(title){
        this.infomation = title
      },
      hideTitleBar(){
        this.hideTitle = true
        this.switch1 = false
      },
      slowChange(){
        this.switch1 = true 
        this.hideTitle = false
      },
    },
    data: () => ({
      dataFB: [],
      widthMenu: 0,
      switch1: true,
      hideTitle: false,
      label:'dark',
      dark: true,
      infomation: '',
      footerProps: {'items-per-page-options': [5, 10,15, 30, 50, 100]},
      options: {
        page: 1,
        itemsPerPage: 5,
      },
      singleSelect: false,
      playlist: [
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "4Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "2Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "1Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "fAsk Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "9aAsk Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "5Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
      ],
      headers1: [
        {text: "Title", value: 'title'},
        {text: "Author", value: 'artist'},
      ],
      headers: [
        {text: "Position", value: 'position'},
        {text: "Title", value: 'title'},
        {text: "Author", value: 'artist'},
      ]  
    }),
  }
</script>
<style scope>
    .hideSwitch{
      display:none !important;
    }

    .v-list {
      padding:0px;
    }

    .container{
      display: flex;
    }
    @media only screen and (max-width: 1225px) {
      .open-menu{
        padding-left: 256px !important;
      }
      .closed-menu{
          padding-left: 56px !important;
      }
    }
</style>