<template id="app">
  <v-row class="text-center d-flex px-0">
    <v-col cols="11" @click="slowChange" v-bind:class ="switch1 == false ? '' : 'hideSwitch'">
        <v-switch inset v-model="switch1" :label="`Show MenuBar`"></v-switch>
        <v-switch 
          v-model="$vuetify.theme.dark " 
          class="darkmode"
          color="warning" 
          inset 
          label="Darkmode"
        />
    </v-col>
    <v-col cols="11" v-bind:class = '{hiddenBar: hideTitle}' class="pb-0">
        <TitleBar 
          @hideTitle="hideTitleBar"
          @callMenuAA="callMenu"          
        />
    </v-col>
    <v-col class="mb-4 pt-0" cols="11">
      <v-data-table
        :headers="headers1"
        :items="playlist"
        :footer-props="footerProps"
        :items-per-page="5"
        class="elevation-1"
      ></v-data-table>
    </v-col>
    <v-flex cols="12" class="d-flex">
      <v-col class="mb-4" cols="11">
        <v-data-table
          :single-select="singleSelect"
          :items="listPhoto"
          :headers="headers"
          :options.sync="options"
          :footer-props="footerProps"
          :sort-desc="true"
        >
        <template v-slot:body="{ items }">
        <tbody>
          <tr 
            class
            v-for="(item, index) in items" 
            :key="index"
          >
            <td class="text-start">{{(options.page -1) * options.itemsPerPage + index + 1}}</td>
            <td class="text-start">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <a
                    color="primary"
                    dark
                    v-on="on"
                    @click="showMessage(`UserName: ${item.name}`)"
                  >{{item.name}}</a>
                </template>
                <span>{{item.name }}</span>
              </v-tooltip>
            </td>
            <td class="text-start">
              <a
                color="primary"
                dark
                @click="showDiablog(item)"
              >{{item.phone}}</a>
            </td>
          </tr>
        </tbody>
        </template>
        </v-data-table>
      </v-col>
    </v-flex>
    <v-col cols="12" class="d-flex">
        <Expand />
    </v-col>
    <v-col cols="12">
      <Diablog :showInfo = "infomation" />
    </v-col>
    <ShowMessage
      @hideDiabloga = "hideDiablog"
      @gotoDetaila = "gotoDetail"
      :showPopup = 'isShow'
      :dataPopup = 'dataDiablog'
    />
  </v-row>
</template>

<script>
  import TitleBar from './TitleBar'
  import Diablog from './Diablog'
  import Expand  from './Expand'
  import ShowMessage from './ShowMessage'
  import RepositoryFactory from '../services/RepositoryFactory.js'
  const PhotoRepository = RepositoryFactory.get('users');
  export default {
    name: 'HelloWorld',
    components:{
      TitleBar,
      Diablog,
      Expand,
      ShowMessage,
    },
    created(){
      this.fetch()
    },
    methods:{
      async fetch() {
        const list = await PhotoRepository.getListUsers()
        this.listPhoto = list.data
      },
      showDiablog(data){
        this.dataDiablog = data
        this.isShow = true
      },
      hideDiablog(){
        this.isShow = false
      },
      gotoDetail(){
        this.isShow = false
        this.$router.push({path: "detail", query: { id: this.dataDiablog.id}});
      },
      showMessage(title){
        alert(title)
      },
      callMenu(title){
        this.infomation = title
      },
      hideTitleBar(){
        this.hideTitle = true
        this.switch1 = false
      },
      slowChange(){
        this.switch1 = true 
        this.hideTitle = false
      },
    },
    data: () => ({
      listPhoto: [],
      isShow: false,
      dataDiablog: null,
      switch1: true,
      hideTitle: false,
      label:'dark',
      dark: true,
      infomation: '',
      footerProps: {'items-per-page-options': [5, 10,15, 30, 50, 100]},
      options: {
        page: 1,
        itemsPerPage: 5,
      },
      singleSelect: false,
      playlist: [
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "4Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "2Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "1Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "fAsk Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "9aAsk Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "5Ask Again" },
        {title: "Streets of Sant'Ivo", artist: "Ask Again"},
        {title: "Remember the Way", artist: "Ask Again" },
      ],
      headers1: [
        {text: "Title", value: 'title'},
        {text: "Author", value: 'artist'},
      ],
      headers: [
        {text: "Position", value: 'position'},
        {text: "Name", value: 'name'},
        {text: "Phone", value: 'phone'},
      ]  
    }),
  }
</script>
<style scope>
    .hideSwitch{
      display:none !important;
    }
</style>