<template >
  <div class="loginform">
    <v-app id="inspire" class='app-content'>
      <v-content id="login-content">
        <v-container
          class="fill-height"
          fluid
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              cols="12"
              sm="8"
              md="4"
            >
              <v-card class="elevation-12">
                <v-toolbar 
                  color="success" 
                  flat
                >
                  <v-toolbar-title
                    style="color:#ffffff"
                  >
                    SIGN IN
                  </v-toolbar-title>
                  <v-spacer />
                </v-toolbar>
                <v-card-text>
                  <v-form 
                    ref="form" 
                    v-model="valid" 
                    lazy-validation
                  >
                    <v-text-field
                      v-model="userid"
                      autocomplete="new-password"
                      label="UserName"
                      name="login"
                      :rules="[rules.required]"
                      prepend-icon="fa fa-user-circle"
                      type="text"
                      required
                    />

                    <v-text-field
                      autocomplete="new-password"
                      v-model="password"
                      :append-icon="show1 ? 'fa fa-eye' : 'fa fa-eye-slash'"
                      :rules="[rules.required, rules.min]"
                      :type="show1 ? 'text' : 'password'"
                      name="password"
                      label="password"
                      prepend-icon="fa fa-lock"
                      counter
                      @click:append="show1 = !show1"
                      v-on:keyup.enter="submit"
                    />
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn 
                    id="loginBtn" 
                    type="button"
                    color="primary"
                    rounded
                    class="mr-2"
                    @click="logInWithFacebook"
                  >
                    FaceBook
                  </v-btn>
                  <p>{{getMessage}}</p>
                  <v-btn 
                    id="loginBtn" 
                    type="button"
                    color="success"
                    rounded
                    @click="submit"
                  >
                    Login
                  </v-btn>
                </v-card-actions>
              </v-card>
              <loading 
                :active.sync="isLoading" 
                :can-cancel="false" 
                :is-full-page="true" 
                class="container-loading"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
// const axios = require("axios");
import Loading from "vue-loading-overlay";
import DialogHelper from '@/DialogHelper';

export default {
  data () {
    return {
      valid: true,
      userid: "",
      password: "",
      length: "",
      show1: false,
      dialog: false,
      isLoading: false,
      rules: {
        required: value => !!value || 'Vui Lòng Nhập Dữ Liệu',
        min: v => v.length >= 4 || 'Vui Lòng Nhập Tối Thiểu 4 Kí Tự',
        emailMatch: () => ('ID and password you entered don\'t match'),
      },
    }
  },
  computed: {
    getMessage() {
      return this.message;
    }
  },
  components: {
    Loading
  },
  created() {
    this.checkLogin()
    const userInfo = {
      userId: "",
      userName: "",
      post: "",
    };
    this.$store.commit("setUserInfo", userInfo);
  },
  methods: {
    async logInWithFacebook() {
      this.isLoading = true;
      await this.loadFacebookSDK(document, 'script', 'facebook-jssdk');
      await this.initFacebook();
      setTimeout(() =>{
        let checkLogin = localStorage.getItem('FB')
        if(checkLogin == "connected"){
          this.$store.commit("setCheck", true)
          this.$router.push({name: "ListData"})
          this.isLoading = false;
        }else{
            this.showDialog('Error',"Login CCCCCCCCCCCCCCC Pleasy Try Again When I Have Money Upgrade Domain https T.T");
            this.isLoading = false;
        }
      },1000)
      return false;
    },
    initFacebook() {
      window.fbAsyncInit = function() {
        window.FB.init({
          appId      : '904848930011624',
          xfbml      : true,
          version    : 'v3.1',
          cookie     : true
        });
        window.FB.login(function(response) {
          if (response.status === 'connected') {
            localStorage.setItem('FB', response.status)
            localStorage.setItem('token',response.authResponse.accessToken)
            localStorage.setItem('userId',response.authResponse.userID)
          } else {
            return false
          }
        });
      };
    },
    loadFacebookSDK(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];

      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    },
    checkLogin(){
      let check = localStorage.getItem('check')
      if(check == 'true') this.$router.push({name: "ListData"})
    },
    submit() {        
      if (this.$refs.form.validate()) {
        this.isLoading = true;
        let check = this.$store.state.check;
        this.$store.commit('signin', {
          username: this.userid,
          password: this.password
        })
        check = this.$store.state.check;
        if(check == true){
          this.$router.push({name: "ListData"})
          this.isLoading = false;
        }else{
            this.showDialog('Error',"Please enter UserName or password again");
            this.isLoading = false;
          }
        }
    },
    setMessage(message) {
      this.message = message;
    },
    showDialog (subject,message) {
      DialogHelper.showDialog(this, {
        subject: subject,
        message: message,
        ok: () => { /*console.log('click ok') */},
      });
    }
  }
}
</script>

<style>
#inspire {
  min-height: 100vh;
}
div.v-application--wrap {
  min-height: 0vh;
}
</style>
<style scoped lang="scss">
.container-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;                
  height: 100vh;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 5rem;
    height: 5rem;
  }
}

.app-content{
  background: linear-gradient(#2f7eac,#4caf50,#2f7eac,#4caf50,#2f7eac,#2f7eac, #4caf50,#2f7eac, #4caf50, #2f7eac) no-repeat fixed;
  background-repeat: no-repeat;
}
</style>

