<template >
    <v-app>
        <v-navigation-drawer
            src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
            v-model="drawer"
            :mini-variant="miniVariant"
            color="base"
            app
            clipped
            ref='navigationMenu'
        >
            <v-list 
                v-for="([icon, text, path, check, listChild], i) in items"
                :key="i"
            >
                <v-list-item 
                    v-if="check == false"
                    link
                    :to="path"
                >
                    <v-list-item-action>
                        <v-icon color="white">{{ icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title class="text-white">{{ text }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item> 
                <v-list
                    v-if="check == true"
                    expand
                    class="expandlist"
                >
                    <v-list-group>
                        <template v-slot:activator>
                            <v-list-item-action>
                                <v-icon color="white">{{ icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title class="text-white">{{ text }}</v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item 
                            v-for="([icons, texts, paths], i) in listChild"
                            :key="i"
                            color="white"
                            link 
                            :to="paths"
                        >
                        <v-list-item-action>
                            <v-icon
                            color="white"
                            small
                            class="subitem"
                            >
                            fas fa-minus
                            </v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="text-white">{{texts}}</v-list-item-title>
                        </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                </v-list>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
            app
            color="base"
            dark
            clipped-left
            align-center
            height="50px"
        >
        <template v-slot:img="{ props }">
          <v-img
            v-bind="props"
            src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
          ></v-img>
        </template>
  
        <v-app-bar-nav-icon
            @click="calculateWidth"
            @click.stop="miniVariant = !miniVariant"
        ></v-app-bar-nav-icon>
  
        <v-toolbar-title @click.stop="miniVariant = !miniVariant">Music</v-toolbar-title>
  
        <v-spacer></v-spacer>
  
        <v-btn icon>
          <!-- <p>{{calculateWidth}}</p> -->
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
  
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
  
        <!-- <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>   -->
        <VerticalMenu/>
      </v-app-bar>
    </v-app>
</template>
 
<script>
    import VerticalMenu from './VerticalMenu'
    export default {
        components:{
            VerticalMenu
        },
        name: 'TitleBar',
        mounted(){
            this.calculateWidth()
        },
        methods:{
            calculateWidth() {
                let widthMenu = this.$refs.navigationMenu.styles.width.split("px")[0]
                this.$emit('getWidthMenu', parseInt(widthMenu))
            }
        },
        data: () => ({
            exit: true,
            items: [
                ['fas fa-home', 'Home', '/list-data', false],
                ['fas fa-music', 'Music', '/player', true,
                    [
                        ['fa fa-music', 'Music', '/player', true],
                        // ['fa fa-music', 'Login FaceBook', '/login-page', true],
                    ]
                ],
                ['fa fa-line-chart', 'Chart', '/gchart', true,
                    [
                        ['fas fa-home', 'DataTable', '/list-data', false],
                        ['fa fa-line-chart', 'Chart', '/gchart', true],
                        ['fa fa-form', 'Form Submit', '/form-submit', true],
                    ]
                ],
                ['fas fa-calendar', 'Calendar', '', false],
            ],
            drawer: true,
            miniVariant: false,
            slide: false
        }),
    }
</script>
<style scope>
    .text-white{
        color:white !important;
    }
    .v-application--wrap{
        margin-left: 3px;
        min-height: 0px !important;
    }
    .theme--light.v-icon {
        color:white;
    }
    a{
        text-decoration: none !important;
    }
    @media only screen and (max-width: 1225px) {
        .v-navigation-drawer--is-mobile{
            height: 100vh;
            top: 50px !important;
            transform: translateX(0%) !important;
            /* width: 256px; */
        }
        .v-navigation-drawer--close {
            visibility: visible;
        }
        .v-list{
            padding: 0px;
        }
    }
</style>