<template id="app">
  <v-app id="inspire">
    <v-row justify="center">
      <v-dialog
        v-model="showChild"
        max-width="350"
      >
        <v-card>
          <v-card-title class="headline">Show Info Post</v-card-title>
          <v-card-text>
            {{dataParent ? dataParent.id : ''}}
            {{dataParent ? dataParent.name : ''}}
            {{dataParent ? dataParent.username : ''}}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green darken-1"
              text
              @click="hideModal"
            >
              Closed
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-app>
</template>
<script>
  export default {
    name: 'MessagePost',
    props:{
      showChild: {
        type: Boolean,
        default: false
      },
      dataParent: {
        type: Object,
        default: null
      }
    },
    methods:{
      hideModal(){
        this.$emit('hideModal')
        this.$store.commit('setUserInfo',{'userId': this.dataParent.id,'userName': this.dataParent.name, 'post':this.dataParent.email})
      },
    },
    data () {
      return {
        messageShow: this.showChild
      }
    }
  }
</script>