<template id="app">
  <v-app id="inspire" class="contain-null">
    <v-row justify="center" align="center">
      <h2>Page Not Exist</h2>
    </v-row>
  </v-app>
</template>
<script>
  export default {
    name: 'TitleBar',
    props:{
        showInfo: {
            type: String,
        }
    },
    methods:{
        callMenu(){
            this.dialog = true
        }
    },
    data () {
      return {
        dialog: false
      }
    },
  }
</script>
<style scope>
  .contain-null{
    width:100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
</style>