<template id="app">
  <v-app id="inspire">
    <v-row justify="center">
      <v-dialog
        v-model="this.showPopup"
        max-width="350"
      >
        <v-card>
          <v-card-title class="headline">Do You Want To Detail ??</v-card-title>
  
          <v-card-text class='line-break'>
              {{dataPopup !== null ? ('Name: ' + dataPopup.name + '\n Phone: ' + dataPopup.phone) : null}}
          </v-card-text>
  
          <v-card-actions>
            <v-spacer></v-spacer>
  
            <v-btn
              color="green darken-1"
              text
              @click="hideDiablog"
            >
              Cancel
            </v-btn>
  
            <v-btn
              color="green darken-1"
              text
              @click="gotoDetail"
            >
              Ok
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-app>
</template>
<script>
  export default {
    name: 'TitleBar',
    props:{
      dataPopup: {
        type: Object,
        default: null
      },
      showPopup: {
        type: Boolean,
        default: false
      }
    },
    methods:{
      hideDiablog(){
        this.$emit('hideDiabloga')
      },
      gotoDetail(){
        this.$emit('gotoDetaila')
      }
    },
    data () {
      return {
        dialog: this.showPopup ,
      }
    },
  }
</script>
<style scope>
  .line-break{
    white-space: pre;
  }
</style>