<template >
  <v-system-bar window class='px-0'>
    <v-menu open-on-click offset-y transition="slide-y-transition" >
        <template v-slot:activator="{ on }" >
            <v-btn small right v-on="on" >
                <v-icon >headset</v-icon> MENU
            </v-btn>
        </template>
        <v-list  class='mt-1'>
            <v-list-item @click="callMenu">
                <v-list-item-title class='px-0'>Playing</v-list-item-title>
            </v-list-item>
            <v-list-item @click="true">
                <v-list-item-title class='px-0'>New Playlist</v-list-item-title>
            </v-list-item>
            <v-list-item @click="dialog = true">
                <v-list-item-title class='px-0'>About</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
    <v-dialog v-model="dialog" max-width="300">
        <v-card>
        <v-card-title><h2>Vue Music Player</h2></v-card-title>
        <v-card-text>Version 1.0.0</v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click="dialog = false">OK</v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
    <v-spacer></v-spacer>
    VUE MUSIC PLAYER
    <v-spacer></v-spacer>
    <v-icon>remove</v-icon>
    <v-icon>check_box_outline_blank</v-icon>
    <v-icon @click="hideMenu">close</v-icon>
  </v-system-bar>
</template>
 
<script>
  export default {
    name: 'TitleBar',
    methods:{
        callMenu(){
            this.$emit("callMenuAA", 'ludan')
        },
        hideMenu(){
            this.$emit("hideTitle")
        }
    },
    data () {
      return {
        hideTitle: false,
        dialog: false
      }
    },
  }
</script>
<style scope>
    .v-list-item{
        padding: 5px 20px !important;
        min-height: 0px !important;    
    }

    .v-size--small{
        height: 32px !important;
    }

    .hiddenBar{
        display: none !important;
    }
</style>