<template>
    <div> 
        <vue-file-toolbar-menu 
            :content="my_menu" 
            color='white'
        /> 
    </div>
</template>

<script>
import VueFileToolbarMenu from 'vue-file-toolbar-menu'

export default {
    components: { VueFileToolbarMenu },

    data () { 
        return { 
            happy: false,
            userName: 'No Name'
        } 
    },
    methods:{
        logOut(){
            this.$store.commit('logOut')
        }
    },
    created(){
        setTimeout(()=>{
            this.userName = this.$store.state.userInfo.userName
        },1000)
    },
    computed: {
        my_menu () {
        return [
            {
            text: this.userName == '' ? 'What???' : this.userName,
            active: this.happy,
            icon: this.happy ? "sentiment_very_satisfied" : "sentiment_satisfied",
            menu: [
                { text: "LogOut", icon: 'exit_to_app', click: () => this.logOut() },
            ],
            click: () => { this.happy = !this.happy }
            }
        ]
        }
    }
}
</script>