<template>
  <div id="app">
    <v-app id="inspire">
      <router-view />
    </v-app>
  </div>
</template>

<script>
// import Login from './components/Login';

export default {
  name: 'App',

  components: {
    // Login,
  },

  data: () => ({
    //
  }),
  created () {
    this.$vuetify.theme.dark = false
  }
};
</script>